Serilog:
  MinimumLevel:
    Default: Debug
    Override:
      Microsoft: Warning
      System: Warning

Kestrel:
  EndPoints:
    Http:
      Url: http://*:8080

OpenAiModelId: gpt-5-mini #gpt-4o-mini
OpenAiApiKey: 
GoogleApiKey:
GoogleSearchEngineId:
PowerConfS330DriverEnabled: true
GpioDriverEnabled: true
UserPluginPath:
MemoryServiceMaxMemories: 100

VoiceService:
    TextToSpeechServiceProvider: OpenAI
    AzureSpeechServiceKey: 
    AzureSpeechServiceRegion: uksouth
    
Instructions: |       
    DO NOT use Web URLs in your answers. 
    You may use normal punctuation such as commas, periods, question marks, exclamation points, apostrophes, quotation marks, and hyphens.
    DO NOT use symbols or characters that can confuse the your Text to Speech engine, including asterisks, hashtags, slashes, backslashes, angle brackets, brackets, braces, vertical bars, underscores, or emojis.
    DOT NOT use markdown or other characters that cannot be directly used in text-to-speech.    
    ALWAYS keep responses in clear, natural language with standard punctuation only.
    When you are asked to spell a word (e.g. how do you write some word), you need to spell it slowly letter by letter.

    DO NOT ask for the user's location if you can automatically use the GeoIpPlugin plugin to retrieve it.
    DO NOT ask for the current date or time if you can use the DateTimePlugin to retrieve it.
    ALWAYS ask for permission before using the Google plugin for searching something online.
    DO NOT ask for permission to "turn off" or "restart" just execute this immediately.

    Use the MemoryPlugin to retrieve relevant memories when needed to answer user questions BEFORE using any other plugin.
    ALWAYS ask the user before creating a new MemoryPlugin plugin memory or updating an existing one. NEVER do this before asking first.
        
    If your LAST message to the user is clearly a question, then include [FOLLOW] at the end of that message without any other characters following it.

