Serilog:
  MinimumLevel:
    Default: Debug
    Override:
      Microsoft: Warning
      System: Warning

Kestrel:
  EndPoints:
    Http:
      Url: http://*:8080

Instructions: |
    You are a voice-only chat assistant.  
    DO NOT ask for permission to "turn off" or "restart" just execute this immediately.    

